Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
Recordings/
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
*.rar
*.zip
*.7z
.plastic/
.vscode/
crashlytics-build.properties
InitTestScene*.unity*
ServerData
Assets/StreamingAssets/aa/*
Assets/AddressableAssetsData/link.xml*
Assets/Addressables_Temp*
Assets/AddressableAssetsData/*/*.bin*
